<!-- Header -->
	<header id="header" class="alt">
		<!-- <h1><a href="{{ site.baseurl }}/index.html">www.beste-party-musik.de</a> Michael und Hermann</h1> -->
		<h1><b>www.beste-party-musik.de</b> <i>by H. Möltgen</i></h1>
		<nav id="nav">
			<ul>
				<!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
				<li><a href="http://www.facebook.com/hermann.moltgen" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<!--<li><a href="http://www.facebook.com/hermann.moltgen"> <i class="icon fa-facebook-square" style="color:blue"></i></a></li>-->
				<!-- <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
				<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li> -->
				<li><a href=".">Startseite</a></li>
				<li><a href="./#musikalisch">Musik Repertoir</a></li>
				<li><a href="./#impressionen">Impressionen</a></li>
				<li><a href="./#angebote">Unsere Angebote</a></li>
				<li><a href="./#kontakt">Kontakt</a></li>
				<li><a href="impressum.html">Impressum</a></li>
				<!--
				<li>
					<a href="" class="icon fa-angle-down">Layouts</a>
					<ul>
						<li><a href="#">Generic</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Elements</a></li>
						<li>
							<a href="">Submenu</a>
							<ul>
								<li><a href="#">Option One</a></li>
								<li><a href="#">Option Two</a></li>
								<li><a href="#">Option Three</a></li>
								<li><a href="#">Option Four</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#" class="button">Sign Up</a></li>
				-->
			</ul>
		</nav>
	</header>
