<!-- Header -->
	<header id="header" class="alt">
		<!-- <h1><a href="{{ site.baseurl }}/index.html">www.beste-party-musik.de</a> Michael und Hermann</h1> -->
		<h1><b>www.beste-party-musik.de</b> <i>by Michael und Hermann</i></h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/index.html">Startseite</a></li>
				<li><a href="{{ site.baseurl }}/index.html">Impressionen</a></li>
				<li><a href="{{ site.baseurl }}/index.html">Unsere Angebote</a></li>
				<!--
				<li>
					<a href="" class="icon fa-angle-down">Layouts</a>
					<ul>
						<li><a href="#">Generic</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Elements</a></li>
						<li>
							<a href="">Submenu</a>
							<ul>
								<li><a href="#">Option One</a></li>
								<li><a href="#">Option Two</a></li>
								<li><a href="#">Option Three</a></li>
								<li><a href="#">Option Four</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#" class="button">Sign Up</a></li>
				-->
			</ul>
		</nav>
	</header>
